<!DOCTYPE html>
<html lang="en">

@{
    var isIndex = ViewData["NavigationLocation"] != null && ViewData["NavigationLocation"] as string == "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adyral Truck</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdyralTruck.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/boostrap-icons/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Furnizori</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse flex-grow-1 text-right">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                        <a class="navbar-brand nav-item navbar-right float-end"><i class="bi bi-person-fill"></i> @User.Identity.Name</a>
                        <a class="navbar-brand nav-item navbar-right float-end" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right"></i> Iesire din Cont</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main style="width: 100%;" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Adyral Truck
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.doubleScroll.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/2wdscroll@1.0.0/2wdScroll.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
